
# Created by https://www.gitignore.io/api/java,intellij,maven

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
mlp_network/.idea/workspace.xml
mlp_network/.idea/tasks.xml

# Sensitive or high-churn files:
mlp_network/.idea/dataSources.ids
mlp_network/.idea/dataSources.xml
mlp_network/.idea/dataSources.local.xml
mlp_network/.idea/sqlDataSources.xml
mlp_network/.idea/dynamic.xml
mlp_network/.idea/uiDesigner.xml

# Gradle:
mlp_network/.idea/gradle.xml
mlp_network/.idea/libraries

# Mongo Explorer plugin:
mlp_network/.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
mlp_network/out/

# mpeltonen/sbt-idea plugin
mlp_network/.idea_modules/

# JIRA plugin
mlp_network/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
mlp_network/com_crashlytics_export_strings.xml
mlp_network/crashlytics.properties
mlp_network/crashlytics-build.properties
mlp_network/fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml 
# *.ipr


### Maven ###
mlp_network/target/
mlp_network/pom.xml.tag
mlp_network/pom.xml.releaseBackup
mlp_network/pom.xml.versionsBackup
mlp_network/pom.xml.next
mlp_network/release.properties
mlp_network/dependency-reduced-pom.xml
mlp_network/buildNumber.properties
mlp_network/.mvn/timing.properties


### Java ###
*.class

# Mobile Tools for Java (J2ME)
mlp_network/.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*